@import "../../assets/sass/globalStyles.scss";

.blog-post {
  width: 100%;
  padding: 20px;
  border: 3px solid $accent-colour;
  border-radius: 10px;
  margin: 20px 0;

  &__title {
    color: $accent-colour;
    font-family: $title-font;
    font-size: 2rem;
    font-weight: bold;
  }
  &__body {
    padding: 20px;
    font-family: $body-font;
    font-size: 1.2rem;
  }
}
