@import "../../assets/sass/globalStyles.scss";
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  gap: 30px;
  margin: 25px 0;
  font-size: 2rem;
  font-weight: bold;
}
.title-section {
  padding: 20px;
}
.about-section-main {
  width: 100%;

  &__title {
    color: $second-accent-colour;
    font-family: $title-font;
    font-size: 3rem;
  }
  &__body {
    border: 3px solid $accent-colour;
    border-radius: 20px;
    padding: 20px;
    font-family: $body-font;
    font-size: 1.5rem;
  }
}

.blog-section-main {
  width: 100%;

  &__title {
    color: $second-accent-colour;
    font-family: $title-font;
    font-size: 3rem;
  }
  &__body {
    border: 3px solid $accent-colour;
    border-radius: 20px;
    padding: 20px;
    font-family: $body-font;
    font-size: 1.5rem;

    &--title {
      color: $second-accent-colour;
      font-family: $title-font;
      font-size: 2.5rem;
    }
    &--text {
      font-size: 1.3rem;
      color: $text-colour;
    }
  }
}

.carousel-section-main {
  width: 100%;

  &__title {
    color: $second-accent-colour;
    font-family: $title-font;
    font-size: 3rem;
  }
  &__body {
    border: 3px solid $accent-colour;
    border-radius: 20px;
    padding: 20px;
    font-family: $body-font;
    font-size: 1.5rem;
  }
}
