@import "../../assets/sass/globalStyles.scss";
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  gap: 30px;
  margin: 25px 0;
  font-size: 2rem;
  font-weight: bold;
}
.title-section {
  padding: 20px;
}
.about-section {
  width: 100%;
  background-color: $background-colour;
  border: 3px solid $accent-colour;
  border-radius: 20px;

  &__title {
    color: $second-accent-colour;
    font-family: $title-font;
    padding: 20px;
    font-size: 3rem;
  }
}

.blog-section {
  width: 100%;
  background-color: $background-colour;
  border: 3px solid $accent-colour;
  border-radius: 20px;

  &__title {
    color: $second-accent-colour;
    font-family: $title-font;
    padding: 20px;
    font-size: 3rem;
  }
}

.carousel-section {
  width: 100%;
  background-color: $background-colour;
  border: 3px solid $accent-colour;
  border-radius: 20px;

  &__title {
    color: $second-accent-colour;
    font-family: $title-font;
    padding: 20px;
    font-size: 3rem;
  }
}
