@import "./assets/sass/globalStyles.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  min-width: 500px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-colour;
}
