@import url("https://fonts.googleapis.com/css2?family=Karla&family=Zeyada&display=swap");

$title-font: "Zeyada", serif;
$body-font: "Karla", sans-serif;
$title-colour: black;
$background-colour: rgb(240, 240, 231);
$accent-colour: rgb(84, 116, 98);
$second-accent-colour: rgb(196, 59, 81);
