@import url("https://fonts.googleapis.com/css2?family=Karla&family=Zeyada&display=swap");

// Fonts
$title-font: "Zeyada", serif;
$body-font: "Karla", sans-serif;

// Colours
$text-colour: rgb(18, 59, 34);
$background-colour: rgb(243, 243, 236);
$accent-colour: rgb(114, 145, 126);
$second-accent-colour: rgb(206, 91, 110);
